<body>
  <h2 style="color: white; padding: 10px;" *ngIf="!this.authService.isLogged">Debe estar logueado para utilizar el chat</h2>
  <img *ngIf="!this.authService.isLogged" src="../../assets/img/robot.png" style="height: 300px;">
    <section class="chatbox" *ngIf="this.authService.isLogged">
      <section class="chat-window " style="border-radius: 10px;">

        <div *ngFor="let mensaje of chatService.mensajes">
            <div *ngIf="mensaje.usuario==authService.UsuarioActivo.nombre_usuario; ">
                <article class="msg-container msg-self" id="msg-0">
                    <div class="msg-box">
                      <div class="flr">
                        <div class="messages">
                          <p class="msg" id="msg-1">
                            {{mensaje.texto}}
                          </p>
                        </div>
                        <span class="timestamp"><span class="username">{{mensaje.usuario}}</span>&bull;<span class="posttime">{{mensaje.fecha}}</span></span>
                      </div>
                      <img class="user-img" id="user-0" src="{{mensaje.foto}}" />
                    </div>
                  </article>
            </div>
            <div *ngIf=" mensaje.usuario != authService.UsuarioActivo.nombre_usuario; ">
                <article class="msg-container msg-remote" id="msg-0">
                    <div class="msg-box">
                      <img class="user-img" id="user-0" src="{{mensaje.foto}}" />
                      <div class="flr">
                        <div class="messages">
                          <p class="msg" id="msg-0">
                            {{mensaje.texto}}
                          </p>
                        </div>
                        <span class="timestamp"><span class="username">{{mensaje.usuario}}</span>&bull;<span class="posttime">{{mensaje.fecha}}</span></span>
                      </div>
                    </div>
                  </article>
        </div> 
        </div>

      </section>
      <div class="chat-input" style="border-radius: 10px;">
        <input type="text" [(ngModel)]="Mensaje" autocomplete="on" placeholder="Type a message" />
        <button (click)="enviar()">
                      <svg style="width:24px;height:24px" viewBox="0 0 24 24"><path fill="rgba(0,0,0,.38)" d="M17,12L12,17V14H8V10H12V7L17,12M21,16.5C21,16.88 20.79,17.21 20.47,17.38L12.57,21.82C12.41,21.94 12.21,22 12,22C11.79,22 11.59,21.94 11.43,21.82L3.53,17.38C3.21,17.21 3,16.88 3,16.5V7.5C3,7.12 3.21,6.79 3.53,6.62L11.43,2.18C11.59,2.06 11.79,2 12,2C12.21,2 12.41,2.06 12.57,2.18L20.47,6.62C20.79,6.79 21,7.12 21,7.5V16.5M12,4.15L5,8.09V15.91L12,19.85L19,15.91V8.09L12,4.15Z" /></svg>
                  </button>
      </div>
    </section>
  </body>