
    <div class="juego_principal">
        <h1 class="titulo">Mayor o Menor</h1>

            <h2 class="center">Puntaje: {{puntaje}}</h2>

        <div class="div_foto">
          <img  *ngIf="!perdio" src="{{srcActual}}" class="img_card" >
          <img *ngIf="perdio" src="{{srcSiguiente}}" class="img_card" >
        </div>
        <br>

        <h3 *ngIf="perdio" style="color: aliceblue;">Esta era la carta </h3>
        <h1 style="color: aliceblue;" *ngIf="perdio">Perdiste</h1>
        
        <div class="div_botones">
            <button  *ngIf="jugando" class="glow-on-hover margin-left hover" (click)="Mayor()">Mayor</button>
            <button  *ngIf="jugando" class="glow-on-hover hover" (click)="Menor()">Menor</button>
        </div>
        <button class="glow-on-hover hover" *ngIf="!jugando" (click)="jugar()">Jugar</button>
        <br>
    </div>
    

