body{
    display: flex;
    border-radius: 15px;
    -webkit-animation:slide-in-top 1s cubic-bezier(.25,.46,.45,.94) both;
    animation:slide-in-top 1s cubic-bezier(.25,.46,.45,.94) both;
}
@-webkit-keyframes slide-in-top{0%{-webkit-transform:translateY(-1000px);transform:translateY(-1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes slide-in-top{0%{-webkit-transform:translateY(-1000px);transform:translateY(-1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}

.div_right
{
    float: right;
    align-items: center;
    align-content: center;
    text-align: center;
    background-image: url('../../assets/img/playing-background-design-1600-x-1200_4x.webp');
    border-radius: 15px;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.div_left
{
    float: right;
    align-items: center;
    align-content: center;
    text-align: center;

    background-image: url('../../assets/img/istockphoto-1251598396-612x612.jpg');
    padding: 5%;
    border-radius: 15px;
    width: 50%;
}

.div_foto
{
    margin-top: 7%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
}

.img
{
    border-radius: 55%;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    width: 80%;
    -webkit-box-shadow:0px 0px 86px 5px rgba(227,46,255,0.65);
-moz-box-shadow: 0px 0px 86px 5px rgba(227,46,255,0.65);
box-shadow: 0px 0px 86px 5px rgba(227,46,255,0.65);
}

.puntajes
{
    font-weight: 500;
    font-size: large;
    
    
}

.fondo_izquierda
{
    color: aliceblue;
    background-color: #3e1c63;
    border-radius: 15px;
    border-style: solid;
    border-color: black;
}