
<nav class="navbar navbar-expand-md navbar-dark bg-dark nav_efectos" style="background-color: black;">
    <div class="container-fluid">
        <img src="/assets/img/mario.png" alt="image" style="padding-right:20px">
      <a class="navbar-brand" >Sala de Juegos</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" *ngIf="this.authSvc.isLogged" aria-current="page" routerLink="/usuario">Mi usuario</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" *ngIf="!this.authSvc.isLogged"  routerLink="/login">Log In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" *ngIf="!this.authSvc.isLogged" routerLink="/registrar">Registrarse</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/acercaDe">Acerca De</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/puntajes">Puntajes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" *ngIf="this.authSvc.isLogged" routerLink="/encuesta">Encuesta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" *ngIf="this.authSvc.isLogged" routerLink="/resultados/encuesta">Resultados Encuesta</a>
          </li>
          <li >
            <button class="botonLogOut" *ngIf="this.authSvc.isLogged" (click)="LogOut()">Log out</button>
          </li>
        </ul>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-4" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </nav>
  
  <body>
    <div class="div_router">
      <div class="div_window">
        <router-outlet (activate)="onActivate($event)">
        </router-outlet>
      </div>
      <div class="div_chat">
        <app-chat-page></app-chat-page>
      </div>
    </div>
  </body>

  





