<main>
  

  <div class="div_body">
    <div style="text-align: center; margin-bottom:10px">
      <h1 class="txt">Juegos</h1>
    </div>
    <br>
    <div style="display: flex;">
      <div class="div_juegos" >
        <div style="height: 33.3%;">
          <img class="img_juego" src="../../../assets/img/ahorcado.png">
        </div>
        <div style="height: 42.3%;">
          <br>
          <h3 class="txt">Ahorcado</h3>
        </div>
        <div style="height: 33.3%;">
          <button routerLink="/ahorcado" style="margin-top: 10%;" class="glow-on-hover">Jugar</button>
        </div>
      </div>

      <div class="div_juegos" >
        <div style="height: 37.3%;">
          <img class="img_juego" src="../../../assets/img/Sin título-1.png">
        </div>
        <div style="height: 39.3%;">
          <br>
          <h3 class="txt">Snake</h3>
        </div>

        <div style="height: 33.3%;">
          <button routerLink="/snake" style="margin-top: 10%;" class="glow-on-hover">Jugar</button>
        </div>
      </div>

      <div class="div_juegos" >
        <div style="height: 33.3%;">
          <img class="img_juego" src="../../../assets/img/preguntados.jpg">
        </div>
        <div style="height: 42.3%;">
          <br>
          <h3 class="txt">Preguntados</h3>
          
        </div>
        <div style="height: 33.3%;">
          <button routerLink="/preguntados" style="margin-top: 10%;" class="glow-on-hover">Jugar</button>
        </div>
      </div>

      <div class="div_juegos">
        <div style="height: 43.3%;">
          <img class="img_juego"  src="../../../assets/img/1000_F_57973311_rw40Z9TsSkdSUptchUK6XOpLktIZqmgX.png">
        </div>
        <div style="height: 32.3%;">
          <br>
          <h3 class="txt">Mayor o Menor</h3>
        </div>
        <div style="height: 33.3%;">
          <button routerLink="/mayor-menor" style="margin-top: 10%;" class="glow-on-hover">Jugar</button>
        </div>
      </div>
  
    </div>
    
</div>
  
</main>
