
    <div  class="div_juego">
        <h1 *ngIf="SnakeSrv.perdio" style="color: white;">Perdiste</h1>
        <img *ngIf="!SnakeSrv.juganto" src="../../../assets/img/snake2.png" class="imagen" width="60%">
        <canvas *ngIf="SnakeSrv.juganto" class="canvas" id="arena"></canvas>
        <p Juego class="puntaje">
        Puntaje: {{SnakeSrv.puntos}}
        </p>
        <button class="glow-on-hover" *ngIf="!SnakeSrv.juganto" (click)="Jugar()">Jugar</button>
        <button class="glow-on-hover" *ngIf="SnakeSrv.perdio" (click)="Jugar()">Jugar de Vuelta</button>
    </div>
    
