
<body>
    <div class="div_left">
        <h1>Francisco Szellner</h1>
        <h2>4ºA</h2>
        <h3>Usuario: {{usuario.login}}</h3>
        <p>Soy francisco Szellner, tengo 21 años y estoy cursando la Tecnicatura Universitaria en Programación en la UTN de avellaneda.</p>
        <p>El juego propio que desarrolle es el famoso juego de snake, 
            en el cual el jugador debe moverse con las teclas de direccion colectando la comida que aparece en la pantalla.
            El juego termina en el momento que la cabeza de la serpiente toca una parte de su propio cuerpo.
        </p>
    </div>
    <div class="div_right">
        <div class="div_foto">
            <img class="img" src="{{usuario.avatar_url}}">
        </div>
    </div>
</body>